.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: justify;
  font-family: Arial, sans-serif;
  animation: fadeIn 2s ease-in-out;
  padding: 60px 20px 20px 20px; /* Adjusted padding to be below the header */
  box-sizing: border-box;
  perspective: 1000px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); /* Gradient background */
}

h1, h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

.neon-text, .neon-subtext {
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
}

.stroke-text {
  font-size: 3em;
  color: transparent;
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-stroke: 2px #ea0b0b; /* Text stroke effect */
}

.workflow, .mission-vision {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotateY(0deg);
  transition: transform 0.6s;
}

.workflow:hover, .mission-vision:hover {
  transform: rotateY(10deg);
}

.workflow-step {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.workflow-step:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}